<%= image_tag('logo-seas.png') %>

<h2 class="text-center">Formulário Eletrônico de Inscrição - Seleção 2021</h2>

<%= render 'entrevista', inscricao_lideranca: @inscricao_lideranca %>

<%#= link_to 'Show', @inscricao_lideranca %> 
<%#= link_to 'Back', inscricao_liderancas_path %>