<%= image_tag('logo-seas.png') %>

<h2 class="text-center">Análise e acompanhamento do inscrito</h2>

<% if(!params[:id].nil?) %>
  <% inscricao_lideranca = InscricaoLideranca.find_by(slug: params[:id]) %>
  <% if(inscricao_lideranca.finalizar?) %>
    <div style="border: 1px solid #cdcdcd; padding: 5px 10px 0px 10px; text-align: center; background-color: #48bb6b; color: #FFF; font-weight: bold; margin: 20px 30% 20px 30%; border-radius: 10px;">
      <div>Nº Inscrição</div>
      <div style="font-size: 40px;margin: -10px 0 0 0;"><%= "%.5i" %inscricao_lideranca.id %></div>
    </div>
  <% end %>
<% end %>
<br>

<%= render 'form_correcao', inscricao_lideranca: @inscricao_lideranca %>

<br><br>
<div class="actions" style="text-align: center">
  
</div>
<br><br>
<script>
$("#reclassificar_fase_2_Deferir").change(function () {
  $('#alterar_pontuacao').css('display','block');
});
$("#reclassificar_fase_2_Indeferir").change(function () {
  $('#alterar_pontuacao').css('display','none');
});

$("#desclassificar_Deferir").change(function () {
  $('#observacao').prop("required",false);
});
$("#desclassificar_Indeferir").change(function () {
  $('#observacao').prop("required",true);
});

</script>