<%= image_tag('logo-seas.png') %>

<h2 class="text-center">Página de Acompanhamento do Candidato</h2>

<%= render 'form', inscricao_servidor: @inscricao_servidor %>

<%#= link_to 'Show', @inscricao_servidor %> 
<%#= link_to 'Back', inscricao_servidors_path %>
