<%= image_tag('logo-seas.png') %>

<h2 class="text-center">Formulário Eletrônico de Inscrição - Seleção 2021</h2>

<%= render 'form_correcao', inscricao_servidor: @inscricao_servidor %>

<%#= link_to 'Show', @inscricao_servidor %> 
<%#= link_to 'Back', inscricao_servidors_path %>
