<style>
  .mid {
    margin-top: 10vh;
  }

  .encerra {
    margin: 0 3rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color:#00501b;
    color: #E8E8E8;
    border-radius: .3rem;
    /* font-size: 20px; */
  }

  .alinhar {
    text-align: center;
  }
</style>

<div class="alinhar">
  <%= image_tag('logo.png') %>
</div>

<section class="mid">
  <div class="encerra">
    <div class="alinhar">
      <h1 style="font-size: 30px;">Tempo para recurso encerrado</h1>
      <p class="alinhar"><h3>Agradecemos o apoio e colaboração de todos.</h3></p>
      <br>
      <hr> 
      <p class="alinhar">Governo do Estado do Ceará</p>
    </div>
  </div>
</section>
