<%= image_tag('logo-seas.png')%>
<div style="text-align:center">
  <h1>Requerimento de Recurso</h1>
  Edital Nº 001/2021 - SEAS - Seleção Pública Simplificada
</div>
<%= render 'form', recurso_servidor: @recurso_servidor %>

<%#= link_to 'Back', recurso_servidors_path %>
<br><br>