<br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nº Inscrição:</strong>
  <%= @recurso_servidor.inscricao_servidor.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @recurso_servidor.inscricao_servidor.nome_completo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @recurso_servidor.texto %>
</p>

<%#= link_to 'Edit', edit_recurso_servidor_path(@recurso_servidor) %> 
<%#= link_to 'Back', recurso_servidors_path %>

<br><br><br>