<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @local_contratacao.descricao %>
</p>

<%= link_to 'Edit', edit_local_contratacao_path(@local_contratacao) %> |
<%= link_to 'Back', local_contratacaos_path %>
